@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "@astrojs/starlight-tailwind";

@import "@fontsource/quantico/400.css";
@import "@fontsource/quantico/700.css";
@import "@fontsource-variable/exo";

@theme {
  --font-hard: "Quantico", sans-serif;
  --font-exo: "Exo Variable", sans-serif;

  --color-ingress-300: hsl(268 51.8% 78.8%);
  --color-ingress-500: hsl(268 51.8% 48.8%);
  --color-ingress-700: hsl(268 51.8% 18.8%);
}

:root[data-theme="light"],
[data-theme="light"] ::backdrop,
:root[data-theme="dark"],
[data-theme="dark"] ::backdrop {
  --sl-color-accent: var(--color-ingress-500);
}

:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  --sl-color-accent-low: var(--color-ingress-300);
  --sl-color-accent-high: var(--color-ingress-700);
}

:root[data-theme="dark"],
[data-theme="dark"] ::backdrop {
  --sl-color-accent-low: var(--color-ingress-700);
  --sl-color-accent-high: var(--color-ingress-300);
}

header {
  @apply font-hard uppercase;
}

.hero {
  @apply font-hard;
  & .actions {
    @apply font-bold uppercase;
  }
}

#starlight__sidebar {
  @apply font-hard;
}

main {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply font-hard;
  }
}

.right-sidebar {
  @apply font-hard;
}
